.hero {
  width: 100vw;
  height: 270px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-black);
}

.hero_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 799px;
  height: 212px;
}

.text {
  color: var(--color-white);
  padding: 10px;
  font-size: 32px;
  line-height: 48px;
  font-weight: 600;
  text-align: center;
}
