.button {
  color: var(--color-primary);
  font-weight: 600;
  font-size: 18px;
  height: 48px;
  letter-spacing: 0.25px;
  background-color: var(--color-black);
  padding: 10px 16px;
  border: 1px;
  border-radius: 12px;
}

.button:hover {
  cursor: pointer;
  opacity: 0.8;
}
