.wrapper {
  margin: 24px;
  display: flex;
  flex-direction: column;
}

.top_bar {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.text_white {
  font-size: 20px;
  font-weight: 600;
  color: var(--color-white);
}

.button_green {
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  color: var(--color-primary);
  border: none;
  background-color: var(--color-black);
}

.cardWrapper {
  margin-top: 24px;
}

.grid {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
}
